<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Deployment</title>
</head>

<body>
    <h1>Model Deployment</h1>
   



    
    <form action="/date" method="POST">
        <p>What type of model would you like to use?</p>
        <input type="radio" id=prophet name="model" value="prophet"> 
        <label for="prophet">Prophet</label>
        <br>
        <input type="radio" id=sarima name="model" value="sarima">
        <label for="prophet">SARIMA</label>
        <br>
        <p>Enter the year you would like forecasts to start from</p>
        <input type="Start Date" name="start_year" placeholder="e.g. 1980">
        <p>Enter the year you would like forecasts to end</p>
        <input type="Start Date" name="end_year" placeholder="e.g. 2010">
        <input type="submit" value="Forecast" >
    </form>



</body>

</html>